## **Data Types and Structures Questions **

01. What are data structures, and why are they important ?      
  -->Data structures are ways of organizing and storing data to perform operations efficiently.       
  -->They’re crucial because they determine how quickly and effectively you can access, modify, and manage data.    

---
02. Explain the difference between mutable and immutable data types with examples ?       
    --> 	Mutable eg ,List, Set, Dictionary  Can be changed after creation    
  --> Immutable eg , Tuple, String, Integer Cannot be changed once created  

---
03. What are the main differences between lists and tuples in Python ?    
    -->Lists are mutable and start with [], performance  likely slower.     
    -->Tuple are immutable and start with (), performance likely fast.    

----
04. Describe how dictionaries store data.
--> Dictionaries store data as key-value pairs using a hash table internally.   
--> Keys must be immutable and unique; values can be any type.        

---
05. Why might you use a set instead of a list in Python ?     
--> Sets automatically remove duplicates and offer faster membership tests.
--> Ideal when you need unique elements and don’t care about order.

---
06. What is a string in Python, and how is it different from a list ?         
--> A string is a sequence of characters, immutable.  # String s = "hello"    
--> A list is a sequence of elements (any type), mutable. # List
l = ['h', 'e', 'l', 'l', 'o']
---
07. How do tuples ensure data integrity in Python ?       
--> Tuples are immutable, meaning their contents can’t be changed.  
-->This makes them safe for use as keys in dictionaries or for storing fixed configurations.    

---
08. What is a hash table, and how does it relate to dictionaries in Python ?  
--> A hash table maps keys to values using a hash function.   
--> Python dictionaries use hash tables to achieve constant-time access to values via keys.        

---
09  Can lists contain different data types in Python ?    
  --> Yes! Python lists are heterogeneous.       

---
10. Explain why strings are immutable in Python.      
  --> Strings are immutable to ensure security, thread safety, and hashability.
  --> It allows Python to intern strings for memory efficiency.

---
11. What advantages do dictionaries offer over lists for certain tasks ?      
  --> Semantic clarity with named keys.   
  --> Ideal for structured data like user profiles or settings.

---
12. Describe a scenario where using a tuple would be preferable over a list     
  --> Use a tuple when:   
  --> Data should not change (e.g., coordinates: (x, y)).   
  --> You want to use it as a dictionary key.   

---
13. How do sets handle duplicate values in Python ?          
  --> Sets automatically discard duplicate values.    
    eg :- s = {1, 2, 2, 3}    
          print(s)  # Output: {1, 2, 3}

---
14. How does the “in” keyword work differently for lists and dictionaries ?     
  --> List: checks if a value exists.   
  --> Dictionary: checks if a key exists.   

  eg : 3 in [1, 2, 3]  # True     
      'name' in {'name': 'Alice'}  # True  

---
15. Can you modify the elements of a tuple? Explain why or why not.   
  --> No. Tuples are immutable, so their elements cannot be changed after creation.      

---
16. What is a nested dictionary, and give an example of its use case ?      
  --> A dictionary inside another dictionary.       
  --> Useful for representing hierarchical data.    
  eg : - users = {
  'alice': {'age': 30, 'email': 'alice@example.com'},
  'bob': {'age': 25, 'email': 'bob@example.com'}
}   

---
17. Describe the time complexity of accessing elements in a dictionary.       
  --> on average due to hash table implementation.  

---
18. In what situations are lists preferred over dictionaries ?        
  --> When order matters.     
  --> When storing sequences without named identifiers.     
  --> For iteration over values.   

---
19. Why are dictionaries considered unordered, and how does that affect data retrieval ?          
  --> Prior to Python 3.7, dictionaries didn’t preserve insertion order.    
  --> Even now, they’re not indexed like lists, so retrieval is by key, not position.

---
20. Explain the difference between a list and a dictionary in terms of data retrieval.      
  --> lists are access through by index and its ordered data.
  --> Dictionery are access through by key word  and data
---

## **Practical Questions**

In [2]:
#01. Write a code to create a string with your name and print it ?
name = "Umesh Rangaraju"
print(name)

Umesh Rangaraju

In [6]:
#02. Write a code to find the length of the string "Hello World ?
s="hello World"
print(len(s))

11

In [7]:
#03. Write a code to slice the first 3 characters from the string "Python Programming" ?
s="Python Programming"
print(s[0:3])

# len works with () but slicing character is [] why ?

Pyt

In [9]:
#04. Write a code to convert the string "hello" to uppercase ?
s="hello"
print(s.upper())

HELLO

In [11]:
#05. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?
s="I like apple"
print(s.replace("apple","orange"))

I like orange

In [12]:
#06. Write a code to create a list with numbers 1 to 5 and print it?
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [15]:
# 07. Write a code to append the number 10 to the list [1, 2, 3, 4] ?
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [16]:
# 08. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [17]:
# 09. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [22]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
l = [10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [72]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = ( 100, 200, 300)
print(t)

(100, 200, 300)

In [30]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [38]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [39]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
t.index("cat")

1

In [40]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [41]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c' }
print(s)

{'b', 'c', 'a'}

In [43]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s =  {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [47]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [50]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 =  {1, 2, 3}
s2 =  {3, 4, 5}
print(s1 .union (s2))

{1, 2, 3, 4, 5}

In [52]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [57]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
k = {"name" : "Umesh", "age": 42, "city":"Bangalore"}
print(k)

{'name': 'Umesh', 'age': 42, 'city': 'Bangalore'}

In [64]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 	'age': 	25}.

d = {'name': 'John', 	'age': 	25}
d ["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [66]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 	'age': 30}.
r = {'name': 'Alice', 	'age': 30}
print(r["name"])

Alice

In [70]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22,'city': 'New York'}.
d = {'name': 'Bob', 'age': 22,'city': 'New York'}
del d ["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [71]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
check = {'name': 'Alice', 'city': 'Paris'}
print("city" in check)

True

In [83]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
A = ["a","b","c"]
tup = (1,2,3)
dic = {"@":99,"&":88}
print(A,tup,dic)

['a', 'b', 'c'] (1, 2, 3) {'@': 99, '&': 88}

In [88]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100,sort it in ascending order, and print the result.(replaced)
import random

rand_nums = random.sample(range(1, 100), 5)
rand_nums.sort()
print(rand_nums)

[18, 24, 34, 55, 67]

In [93]:
# 28. Write a code to create a list with strings and print the element at the third index.
l = ["umesh","banana", "cherry", "date", "elder"]
print(l[3])

date

In [95]:
# 29. Write a code to combine two dictionaries into one and print the result.
r = {'nam': 'Alice', 	'ag': 30}
k = {"name" : "Umesh", "age": 42, "city":"Bangalore"}
combined = r.copy()
combined.update(k)
print(combined)

{'nam': 'Alice', 'ag': 30, 'name': 'Umesh', 'age': 42, 'city': 'Bangalore'}

In [99]:
# 30. Write a code to convert a list of strings into a set.
s =  [1, 2, 3, 4, 5]
s1 =set(s)
print(s1)

{1, 2, 3, 4, 5}